.cardsContainer{
    display:flex;
   flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/58330.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1rem;
}